{% extends 'shopapp/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Orders list:</h1>
    {% if not orders %}
        <p>No orders found.</p>
    {% else %}
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>User</th>
                    <th>Delivery Address</th>
                    <th>Promocode</th>
                    <th>Order products</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{% firstof order.user.first_name order.user.username %}</td>
                        <td>{{ order.delivery_address }}</td>
                        <td>{{ order.promocode }}</td>
                        <td>
                            <ul>
                                {% for product in order.products.all %}
                                    <li>{{ product.name }} - {{ product.price }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ order.total_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
